#window {
    background-color: rgba(31, 29, 28, 0.308);
}

button {
    background-color: rgba(32, 34, 36, 0.2);
    border: solid;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 130px;
    color: rgb(255, 85, 0);
}

#description-shutdown {
    font-size: 35px;
    color: white;
}

#description-reboot {
    font-size: 35px;
    color: white;
}

#description-logout {
    font-size: 35px;
    color: white;
}

#description-hibernate {
    font-size: 35px;
    color: white;
}

#description-suspend {
    font-size: 35px;
    color: white;
}

#description-lock {
    font-size: 35px;
    color: white;
}
