#window {
    background-color: rgba(32, 34, 36, 0.2);
}

button {
    background-color: rgba(32, 34, 36, 0.2);
    color: white;
    border: solid;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 13px;
}

#shutdown {
    color: rgb(214, 34, 34);
}

#reboot {
    color: rgb(72, 255, 0);
}

#logout {
    color: orange;
}

#hibernate {
    color: rgb(5, 127, 241);
}

#suspend {
    color: rgb(180, 180, 166)
}

#lock {
    color: yellow;
}

#top-text {
    font-weight: bold;
}


